@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&family=Poppins:wght@200;300;400&family=Updock&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: max-content;
    position: absolute;
    background-color: #212529;

}
.profile{
    background-image: url(https://wallpapercave.com/wp/wp5016204.jpg);
    width: 100%;
    height: 70vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: calc(50% - 150px);
}
.about{
    font-family: 'poppins';
    color: #d2d3d5;
    width: 75%;
    padding: 7%;
}
.about h1{
    font-weight: 300;
    font-size: 3em;
    text-indent: 2px;
    line-height: 3.2rem;
}
.about h2{
    font-weight: 200;
    font-size: 1.7em;
    line-height: 1.9em;

}
.about p {
    font-weight: 200;
    font-size: .9em;
}

.contact{
    display: flex;
    margin-top: 1em;
    align-items: center;
    gap: 1.5em ;
}
.contact span{
    font-family: 'poppins';
    color: #d2d3d5;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: transparent;
    padding: 10px 14px 10px 14px;
    border: 2px #d2d3d5 solid;
    border-radius: 5px;
}
i.fa-github, i.fa-linkedin-in{
    font-size: 1.7em;
}
.skills{
    width: 80%;
    height: 20vh;
    background-color: #212529;
    outline: 2px solid #1b1d20;
    outline-offset: 0px;
    left: 50%;
    right: 50%;
    position: absolute;
    padding: 3em;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
i.fa-html5{
    font-size: 7em;
    color: white;
}
.content {
    margin-top: 9.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content.h1 h1{
    text-align: center;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 1.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #dcddde;
    position: relative;
}
.content.h1 h1:after{
    content: "";
    position: absolute;
    border-bottom: 2px solid #61624a;
    width: 53%;
    right: 0%;
    top: 0;
    bottom: 0px;
}

.card{
    width: 85%;
    height: 55vh;
    background-color: transparent;
    margin-top: 1.5em;
    margin-bottom: 1.6em;
    display: flex;
    position: relative;
    padding: 2em;
    /* flex-direction: row; */
    gap: 6em;
}
.card:nth-child(odd){
    flex-direction: row-reverse;
}
.card:last-child{
    margin-bottom: 5em;
}
.board{
    border-radius: 7px;
    width: 60%;
    height: 100%;
    background-image: url(../image.png);
    background-position: center;
    background-size: cover;
    aspect-ratio: 16 / 9;
}
.info{
    width: 100%;
    height: 60%;
    align-self: center;
    
}
.info h2{
    font-weight: 400;
    font-size: 1.6em;
    /* line-height: 1.9em; */
    font-family: 'poppins';
    letter-spacing: 1px;
    color: #d2d3d5;
}
.info p{
    font-weight: 300;
    font-size: .9em;
    /* line-height: 1.9em; */
    font-family: 'poppins';
    letter-spacing: 1px;
    color: #d2d3d5;
}
.buttons{
    display: flex;
    margin-top: 1.5em;
    gap: 1em;
}
.buttons > *{
    font-family: 'poppins';
    color: #d2d3d5;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    padding: .6em 1.7em;
    border-radius: 5px;
    cursor: pointer;
}
.buttons > :first-child{
    background-color: #64644b;
    border: none;
}
.buttons > :last-child{
    background-color: transparent;
    border: 1px solid #d2d3d5;
    display: flex;
    gap: .2em;
    align-items: center;
}
i.fa-github{
    font-size: 1em;
}
.form-email{
    width: 100%;
    height: 85vh;
    background-color: #1f1f1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}
.form-email h1{
    text-align: center;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 1.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #dcddde;
    position: relative;
    margin-top: 1.3em;
    margin-bottom: 1em;
}
.form-email h1:after{
    content: "";
    position: absolute;
    border-bottom: 2px solid #61624a;
    width: 50%;
    right: 0%;
    top: 0;
    bottom: 0px;
    /* transform: translate(50%); */
}
.form{
    width: 44%;
    height: 96%;
    border-radius: .4em;
    border: .1em solid #61624a;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
}
.form label{
    font-family: 'poppins';
    color: #dcddde;
    font-size: .9em;
    font-weight: 300;
    margin-bottom: .3em;
    display: inline-block;
}
.form input{
    width: 100%;
    height: 3em;
    outline: none;
    background-color: #141411;
    border: none;
    border-bottom: .1em solid #61624a;
    color: #dcddde;
    padding: .5em;
    font-family: 'poppins';
    margin-bottom: 1em;
}
.message{
    /* height: 100%; */
    padding: .5em;
    width: 100%;
    flex-grow: 1;
    outline: none;
    font-family: 'poppins';
    color: #dcddde;
    background-color: #141411;
    border: none;
    border-bottom: .1em solid #61624a;
}
.form button{
    align-self: center;
    padding: 10px 25px 10px 25px;
    font-family: 'poppins';
    color: #dcddde;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 4px;
    background-color: #61624a;
    margin-top: 3em;
    cursor: pointer;
}
@media screen and (max-width: 1841px){
    .card:nth-child(odd) {
        gap: 6em;
    }
    .info{
        width: fit-content;
    }
} 
@media screen and (max-width: 1366px) {
    .profile{
        height: clamp(50vh, 55vh, 60vh);
    }
    .about {
        width: 90%;
    }

}
@media screen and (max-width: 1024px) {
    .profile{
        height: clamp(55vh, 60vh, 65vh);
    }
}
@media screen and (max-width: 992px) {
    
    .profile{
        height: clamp(45vh, 50vh, 55vh);
    }
    .skills{
        padding: 1em;
        height: fit-content;
    }
    .info {
        width: 100%;
        height: 40%;
    }
    .form{
        width: 80%;
        height: 60%;
    }
}

@media screen and (max-width: 768px) {
    .profile{
        height: clamp(45vh, 50vh, 55vh);
    }
    .about {
        width: 100%;
    }
    .content.h1 h1 {
        font-size: 1.5em;
    }
    .skills{
        padding: 1em ;
        width: 98%;
        height: fit-content;
    }
    .card,.card:nth-child(odd){
        gap: 1.5em;
        margin-top: 1rem;
        padding: 1em;
        
    }
    .buttons > *{
        padding: .4em 1.3em;
    }
    .form{
        width: 80%;
    }   
}

@media screen and (max-width: 690px) {
    .profile{
        height: 50vh;
    }
    .skills{
        height: fit-content;
        padding: 0;
    }
    .buttons {
        flex-direction: column;
        gap: 1em;
    }
    .buttons > * {
        width: 80%;
        text-align: center;
        align-self: center;
    }
    .board{
        border-radius: 7px;
        width: 60%;
        height: 60%;
        background-image: url(../image.png);
        background-position: center;
        background-size: cover;
        aspect-ratio: 16 / 9;
    }
    .info{
        width: 50%;
        height: 60%;
        align-self: flex-start;
        
    }
    .card{
        height: fit-content;
    }
    .form{
        width: 80%;
    }
}
@media screen and (max-width: 500px) {
    .profile{
        height: clamp(45vh, 50vh, 55vh);
    }
    .skills{
        padding: 0;
        height: max-content;
    }
    .card,.card:nth-child(odd){
        flex-direction: column;
    }
    .board{
        width: 80%;
        align-self: center;
    }
    .info{
        align-self: center;
        text-align: center;
        width: 80%;
    }
    .buttons {
        flex-direction: row;
        gap: 1em;
        
    }
    .buttons > * {
        font-size: 1em;
        width: 80%;
        text-align: center;
        align-self: center;
    }
    .form{
        width: 80%;
        height: 60%;
    }
}
@media screen and (max-width: 400px) {
    .profile{
        height: clamp(60vh, 65vh, 70vh);
    }
}

@media screen and (max-width: 375px) {
    .profile{
        height: clamp(65vh, 70vh, 75vh);
    }
}